body {
    padding: 0;
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    color: 000;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1400px;
    /* позиционирование по центру */
    margin: 0 auto; 
}

.header {
    background: #FF3E3E;
}

header a {
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

.menu li {
    margin-right: 40px;
}

.porezk {
    font-size: 60px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #FEC738;
    text-shadow: 1px 0 1px #000, 
                0 1px 1px #000, 
                -1px 0 1px #000, 
                0 -1px 1px #000;
}

.nav {
    display: flex;
    padding-top: 24px;
}

.gerbCH {
    margin: 10px;
}

.gerbpor {
    margin: 10px;
}